@gopal612:registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=see_learnings_folder
;   "//"  at the start of the line is important...



;               now if you do "npm install" --->
;               packages wont get installed from npmjs
;               but from "aws codeartifact"
;   registry=https://my_domain-111122223333.d.codeartifact.us-west-2.amazonaws.com/npm/my-cli-repo/
;   //my_domain-111122223333.d.codeartifact.us-west-2.amazonaws.com/npm/my_repo/:_authToken=eyJ2ZX...
;   //my_domain-111122223333.d.codeartifact.us-west-2.amazonaws.com/npm/my_repo/:always-auth=true